*{
    padding: 0px;
    margin: 0px;
}
body {
    font-family: "Roboto", sans-serif;
}
.top-nav{
    background-color: #ffc400;
}
.top-nav .cont-icons p{
    display: inline-block;
}
.top-nav .cont-icons svg{
    padding-left: 40px;
}
/* @media (max-width:1024px) {
    .top-nav{
        display: none;
    }
} */
.navbar{
    background-color: #1F232E;
}
.navbar .navbar-nav .nav-link {
    color: white;
}
.navbar .navbar-brand{
    color: #ffc400;
}
.navbar .navbar-toggler{
    color: #FFF;
    border-color: #333;
}

/*landing*/
.landing{
    background-image: url(../images/1.jpg);
    min-height: calc(100vh - 72px);
    background-color: rgb(0 0 0 / 60%);
    background-size: cover;
    position: relative;
}
.overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 60%);
}
.landing .text{
    position: absolute;
}
.landing h1:last-of-type{
    color: #ffc400;
}
.btn-outline {
    color: #ffc400;
    border-color: #ffc400;
    padding: 0.5rem 1rem;
}
.btn-outline:hover {
    color: white;
    background-color: #ffc400;
    border-color: #ffc400;
}
.landing .btn-outline {
    margin: 70px 30px;
}

/*welcome*/
.welcome{
    padding: 70px 0px;
}
.welcome .welc-img img{
    width: 500px;
}
.welcome .welc h2{
    color: #ffc400;
}
@media (max-width:1024px) {
    .welcome .btn {
        margin-bottom: 30px;
    }
}

/*choose*/
.choose{
    background-color: #dcffff;
    padding: 40px 0;
}
.choose .icon{
    width: 30px;
    height: 30px;
    padding: 30px;
    margin: 40px 0;
    border: 5px solid #ffc400;
    outline: 1px solid transparent;
    outline: 5px solid #ffc400;
    filter: drop-shadow(5px 5px 4px #ffc400);
    border-radius: 50%;
}

/*service*/
.service{
    padding: 60px 0;
}
.service img{
    width: 350px;
    padding: 50px 0;
}
@media (max-width:1024px) {
    .service {
        text-align: center;
    }
}

/*contact*/
.contact{
    padding: 50px 0;
    background-color: #ffc400;
}
.contact h1{
    font-weight: bold;
}
.contact p {
    font-size: 40px;
    font-weight: lighter;
}
.contact input{
    height: 40px;
    margin: 10px;
    border: none;
    border-radius: 3%;
    width: 250px;
}
.contact .w{
    width: 410px;
}
.contact .btn{
    background-color: #1F232E;
    color: #ffc400;
    width: 100px;
}
@media (max-width:1024px) {
    .contact{
        text-align: center;
    }
}

/*footer*/
.footer{
    background: url(../images/6.png) no-repeat center center fixed;
    background-size: cover;
    min-height: 500px;
}
.footer .foot{
    background: rgba(2, 2, 2, 0.75);
    color: #FFF;
    min-height: 500px;
    padding: 100px 0;
}
.footer .about h2{
    margin-bottom: 20px;
}
.footer .about h4 {
    color: #ffc400;
}
.footer .about h6 {
    margin-bottom: 30px;
}
.footer .foot-icons
{
    margin-top: 50px;
}
.footer .foot-icons svg{
    color:rgb(37, 37, 37);
    background-color: #ffc400;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    padding: 8px;
    margin-left: 10px;
    transition: all 0.5s ease-in-out;
}
.footer .foot-icons svg:hover {
    color: white;
}
.footer .links{
    margin-top: 17px;
}
.footer .links li{
    margin-bottom: 10px;
}
.footer .posts{
    margin: 20px 0;
}
.footer .posts svg{
    font-size: 40px;
}
.footer .posts p {
    display: inline-block;
}
.footer .cont-icons{
    margin: 20px 0;
}
.footer .cont-icons p{
    display: inline-block;
}
@media (max-width:1024px) {
    .footer .about{
        margin-bottom: 50px;
    }
}
.copy{
    background-color: #1F232E;
    color: white;
    padding: 15px 0;
}